{% extends "coderedcms/pages/base.html" %}
{% load static %}

{% block custom_assets %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit:400|Montserrat:700&display=swap" rel="stylesheet">

{% endblock %}

{% block custom_scripts %}
{# Add your custom JavaScript here, or delete the line below if you don't need any #}
<script type="text/javascript" src="{% static 'website/js/custom.js' %}"></script>
{% endblock %}
